body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(220, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 20px;
  padding: 3%;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000;
}

.navLeft,
.navRight {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.navLogo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/* PARENT HERO GRID */
.heroGrid {
  display: flex;
  height: 70vh;
  max-width: 100vw;
}

/* HERO LEFT SIDE */
.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 49%; /* Takes up half total width */
  height: 100%; /* Takes up 100% total height */
}

/* Hero Top Left (25% total) */
.heroTopLeft {
  width: 99%; /* Takes up 50% total width */
  height: 49%; /* Takes up 50% total height */
  background-color: aliceblue;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000;
}

/* Hero Bottom Left (25% total) */

.herobottomLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* Takes up 50% total width */
  height: 49%; /* Takes up 50% total height */
  background-color: rgba(255, 228, 196, 0);
  /* border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000; */
}

.herobottomleft1,
.herobottomleft2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 48%; /* Takes up half */
  height: 100%;
  background-color: rgba(192, 125, 255, 0.594);
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000;
}

.herobottomleft2 {
  background-color: rgba(193, 190, 255, 0.686);
}

.herobottomleft1Btn,
.herobottomleft2Btn {
  padding: 2vh;
  border: none;
  border-top: 3px solid black;
  background-color: rgba(255, 127, 127, 0);
}

.herobottomleft1Btn:hover,
.herobottomleft2Btn:hover {
  cursor: pointer;
  background-color: #97979771;
}

.leftspacer {
  height: 20px;
}

.rightspacer {
  width: 20px;
}

.blspacer {
  width: 20px;
}

/* Hero RIGHT SIDE (50% width, full height) */
.heroRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: aquamarine;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000;
  width: 49%; /* Takes up half width */
  height: 100%;
}

.heroRightBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.heroRightBtn1,
.heroRightBtn2 {
  width: 50%;
  padding: 2vh;
  border-top: 3px solid black;
  border: none;
  background-color: rgba(255, 127, 127, 0);
}

.heroRightBtn1 {
  border-right: 3px solid black;
}

.heroRightBtn1,
.heroRightBtn2 {
  border-top: 3px solid black;
}

.heroRightBtn1:hover,
.heroRightBtn2:hover {
  cursor: pointer;
  background-color: #97979771;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #ddd;
}

/* ---DEESKTOP--- */

@media (min-width: 781px) {
}

/* ---TABLET--- */

@media (max-width: 780px) {
}

/* ---MOBILE--- */

@media (max-width: 580px) {
  .heroGrid {
    flex-direction: column;
  }
  .heroLeft {
    width: 100%; /* Now Takes up full total width */
  }

  .heroTopLeft {
    width: 100%; /* Now Takes up full total width */
    height: 100%; /* Now Takes up full total height */
  }

  .heroRight {
    width: 100%; /* Now Takes up full total width */
  }

  .herobottomLeft {
    display: none; /* Hides the other left hand items */
  }
}

/* * {
  border: none !important;
  border-radius: 0px 0px 0px 0px !important;
} */
