@keyframes yarnfall {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 20vh); /* Drop down */
  }
  50% {
    transform: translate(3vw, 17vh) rotate(90deg); /* First bounce up */
  }
  60% {
    transform: translate(6vw, 19vh) rotate(180deg);
  }
  70% {
    transform: translate(9vw, 17vh) rotate(270deg);
  }
  80% {
    transform: translate(11vw, 18vh) rotate(180deg);
  }
  90% {
    transform: translate(13vw, 17vh) rotate(270deg);
  }
  100% {
    transform: translate(15vw, 18vh) rotate(360deg);
  }
}

@keyframes headtilt {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg); /* First bounce up */
  }
  75% {
    transform: rotate(30deg); /* First bounce up */
  }
  100% {
    transform: rotate(0deg); /* First bounce up */
  }
}

@keyframes boneblink {
  0% {
    transform: translate(-20%, 0%) rotate(0deg) scale(1);
    opacity: 100%;
  }
  20% {
    transform: translate(-20%, 20%) rotate(0deg) scale(1);
    opacity: 100%;
  }
  50% {
    transform: translate(-20%, 250%) rotate(90deg) scale(0.5);
    opacity: 80%;
  }
  100% {
    transform: translate(-20%, 250%) rotate(360deg) scale(0.25);
    opacity: 0%;
  }
}

body,
html {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(220, 255, 255);
}

header {
  padding: 2% 2% 0% 2%;
  background-color: white;
}

nav {
  background-color: rgb(220, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000;
}

.navLeft,
.navRight {
  display: flex;
  justify-content: center;
  gap: 20%;
  width: 33%;
}

.navLogo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 2em;
  width: 33%;
}

.navLeft a,
.navRight a,
.navLogo a {
  color: #000000;
  text-decoration: none;
}

.navLeft a:hover,
.navRight a:hover,
.navLogo a:hover {
  color: #000000;
  text-shadow: 5px 5px 10px rgba(255, 236, 64, 0.559);
  text-decoration: none;
  font-weight: bolder;
}

/* PARENT HERO GRID */

.heroGrid {
  display: flex;
  justify-content: center;
  height: 79vh;
  max-width: 100vw;
  padding: 2% 1.75% 2% 1.75%;
  background-color: white;
}

/* HERO LEFT SIDE */
.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 49%; /* Takes up half total width */
  height: 100%; /* Takes up 100% total height */
}

/* Hero Top Left (25% total) */
.heroTopLeft {
  width: 100%; /* Takes up 50% total width */
  height: 49%; /* Takes up 50% total height */
  background-color: aliceblue;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000;
  overflow: hidden;
}

.heroTopLeft video {
  width: 101%;
  height: 101%;
  object-fit: cover;
}

/* Hero Bottom Left (25% total) */

.herobottomLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* Takes up 50% total width */
  height: 49%; /* Takes up 50% total height */
  background-color: rgba(255, 228, 196, 0);
  /* border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000; */
}

.herobottomleft1,
.herobottomleft2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 48%; /* Takes up half */
  height: 100%;
  background-color: rgba(192, 125, 255, 0.594);
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000;
}

.herobottomleft2 {
  background-color: rgba(193, 190, 255, 0.686);
}

.herobottomleft1Btn,
.herobottomleft2Btn {
  height: 20%;
  width: 100%;
  border: none;
  border-top: 3px solid black;
  background-color: rgba(255, 127, 127, 0);
  font-family: "Gamja Flower", sans-serif;
  font-size: large;
  font-weight: 600;
}

.herobottomleft1Btn:hover,
.herobottomleft2Btn:hover {
  cursor: pointer;
  background-color: #fffca8ba;
}

.herobottomleft1Btn {
  border-radius: 0px 0px 7px 7px;
}

.herobottomleft2Btn {
  border-radius: 0px 0px 7px 7px;
}

.herobottomleft1MainContent,
.herobottomleft2MainContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 80%;
  width: 100%;
  overflow: hidden;
}

#catgif {
  width: auto;
  height: 75%;
  margin-bottom: 3%;
  margin-left: 0 auto;
  z-index: 0;
  object-fit: contain;
}

#doggif {
  width: 100%;
  height: 50%;
  margin-bottom: 3%;
  margin-left: 0 auto;
  z-index: 0;
  object-fit: contain;
  animation: headtilt 2s ease-in-out forwards infinite;
}

#yarnicon,
#boneicon {
  position: absolute;
  top: 0;
  left: 0;
  height: 30%;
  /* margin-bottom: 5%; */
  object-fit: contain;
  z-index: 1;
}

#yarnicon {
  left: 10%;
  animation: yarnfall 1.5s ease-in-out forwards infinite;
}

#boneicon {
  left: 50%;
  height: 25%;
  animation: boneblink 1.5s ease-in-out forwards infinite;
  transform: translate(-50%, -50%);
}

.leftspacer {
  height: 20px;
}

.rightspacer {
  width: 20px;
}

.blspacer {
  width: 20px;
}

/* Hero RIGHT SIDE (50% width, full height) */
.heroRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: aquamarine;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #000000;
  width: 49%; /* Takes up half width */
  height: 100%;
  overflow: hidden;
}

.heroRightMainContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 90%;
  width: 100%;
}

/* Make carousel take up the full width and height of  heroRightMainContent*/
.carousel,
.slide,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Adjust .carousel-item img to cover the area (without stretching) */
.carousel-item img {
  width: 101%;
  height: 101%;
  object-fit: cover; /* Cover the area, might crop images */
}

.heroRightBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  height: 10%;
  border-radius: 0px 0px 10px 10px;
  border-top: 3px solid black;
}

.heroRightBtn1,
.heroRightBtn2 {
  border: none;
  width: 100%;
  background-color: rgba(255, 136, 136, 0);
  font-family: "Gamja Flower", sans-serif;
  font-size: large;
  font-weight: 600;
}

.heroRightBtn1 {
  border-right: 3px solid black;
  border-radius: 0px 0px 0px 7px;
}

.heroRightBtn2 {
  border-radius: 0px 0px 7px 0px;
}

.heroRightBtn1:hover,
.heroRightBtn2:hover {
  cursor: pointer;
  background-color: #ffaeaed4;
}

footer {
  text-align: center;
  height: 5%;
}

/* ---DESKTOP--- */

@media (max-width: 1200px) {
}

/* ---TABLET--- */

@media (max-width: 992px) {
  #catgif {
    height: 55%;
  }
  #yarnicon {
    height: 20%;
  }
  #doggif {
    height: 50%;
  }
}

/* ---MOBILE--- */

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .nav {
    height: 10%;
  }

  .leftspacer,
  .rightspacer,
  .blspacer {
    display: none;
  }
  .heroGrid {
    flex-direction: column;
    height: 80%;
  }
  .heroLeft {
    height: 20vh;
    width: 100%; /* Now Takes up full total width */
    margin-bottom: 2%;
  }

  .heroTopLeft {
    width: 100%; /* Now Takes up full total width */
    height: 20vh; /* Now Takes up full total height */
  }

  .heroRight {
    width: 100%; /* Now Takes up full total width */
    height: 60vh;
  }

  .herobottomLeft {
    display: none; /* Hides the other left hand items */
  }
  footer {
    height: 10%;
  }
}
